.form_creator {
    min-height: 100px;
}
.form_creator_toggler {
    min-height: 200px;
    padding: 20px;
    background: rgb(244, 244, 244);
    margin-top: 10px;
}
.form_password {
    width: 100%;
    margin-top: 20px;
}
.fo {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background: rgb(237, 237, 237);
}